<script type="text/javascript" src="{% static 'js/copernicus.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/copernicus.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>